<div class="branding">
  <p class="intro">
    We hope that you'll make all kinds of art displaying your commitment to not make tech for ICE! Use your creativity and style, but if you want to use our style as a jumping off point, here's how we do things around here:
  </p>
  <p>
    <span class="left">Font:</span>
    <span class="right">Play, source <a href="https://fonts.googleapis.com/css?family=Play&display=swap">https://fonts.googleapis.com/css?family=Play&display=swap</a> </span>
  </p>
  <p>
    <span class="left">Color:</span>
    <span class="right">Choose Community Canary #FFCA00</span>
  </p>
  <p class="image">
    <span class="left">Icon:</span>
    <span class="right"><img src="assets/PullThePlugICE.png" alt="Pull The Plug icon"/></span>
  </p>
</div>