<div class="branding">
  <h3>Stickers, Shirts, and More (Yay Visible Antifascism!)</h3>
  <p class="intro">
    You can buy stickers, shirts, mugs, and a whole lot more in our redbubble store! Proceeds go towards our organizational efforts, and any surplus will go towards other anti-ICE organizations like Mijente.
  </p>

  <p>
    <span class="left">
      Traditional color scheme:
    </span>
    <span class="right">
      <a alt="redbubble store" href="https://www.redbubble.com/people/panicpixels/works/40980555-no-tech-for-ice">on redbubble, right here!</a>
    </span>
  </p>

  <p>
    <span class="left">
      Inverted color scheme:
    </span>
    <span class="right">
      <a alt="redbubble store--inverted colors" href="https://www.redbubble.com/people/panicpixels/works/40981145-no-tech-for-ice-inverted">also on redbubble, over here!</a>
    </span>
  </p>

  <h3>DIY Dissent!</h3>
  <p class="intro">
    Beyond that, we hope that you'll make all kinds of art displaying your commitment to not make tech for ICE! Use your creativity and style, but if you want to use our style as a jumping off point, here's how we do things around here:
  </p>
  <p>
    <span class="left">Font:</span>
    <span class="right">Play, source <a href="https://fonts.googleapis.com/css?family=Play&display=swap">https://fonts.googleapis.com/css?family=Play&display=swap</a> </span>
  </p>
  <p>
    <span class="left">Color:</span>
    <span class="right">Choose Community Canary #FFCA00</span>
  </p>
  <p class="image">
    <span class="left">Icon:</span>
    <span class="right"><img src="assets/PullThePlugICE.png" alt="Pull The Plug icon"/></span>
  </p>
</div>