<p><strong>There is no ethical way to provide technical services to ICE.</strong></p>

<p>In better, safer times, some of us might choose to work with ICE in an attempt to improve their methodology and achieve their stated goals. However, we do not live in better, safer times. There are concentration camps on American soil. Our neighbors are being taken from their homes. Children are being separated from their parents. Human beings are being tortured. People are dying.</p>

<p>The tech community learned, in World War II with IBM, that our knowledge and our skills had the power to do great evil. So many technologists--parents and children, neighbors and friends--chose to simply continue working and doing their small part every day that IBM helped carry out the Holocaust.</p>

<p>We have passed the point where ethical technologists need to stand with the immigrant and Jewish groups like Mijente and Never Again Means Now and refuse to work on any technology that benefits or assists ICE.</p>