// COLORS
$brand-yellow: #ffca00;
$brand-cream: #f2ecce;
$brand-black: #000000;
$brand-blue: #3232b0;
$brand-red: #f87676;

$border-width: 4px;

// General styles

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    opacity: .6;
  }
}

body {
  background-color: $brand-yellow;
  font-family: sans-serif;
  width: 80%;
  margin: auto;

  .content-wrapper {
    margin: 35px;
    background-color: $brand-cream;
    padding: 25px;
    border: $border-width solid $brand-black;
  }
}

.notice {
  background-color: $brand-red;
  text-align: center;
  height: 2em;
  font-size: 1.5em;
  padding-top: 1em;
  border: $border-width solid $brand-black;
}

h1 {
  font-family: 'Play', sans-serif;
}

.logo-wrapper {
  margin: auto;
  margin-top: 35px;
  text-align: center;

  img {
    max-width: 350px;
  }

  h1{
    color: $brand-black;
  }
}

.link-box {
  margin: 35px;
  font-family: 'Play', sans-serif;
}