// COLORS
$brand-yellow: #ffca00;
$brand-cream: #f2ecce;
$brand-black: #000000;
$brand-blue: #3232b0;

$border-width: 4px;

// General styles

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    opacity: .6;
  }
}

body {
  background-color: $brand-yellow;
  font-family: sans-serif;
  width: 80%;
  margin: auto;

  .content-wrapper {
    margin: 35px;
    background-color: $brand-cream;
    padding: 25px;
    border: $border-width solid $brand-black;
  }
}

h1 {
  font-family: 'Play', sans-serif;
}

.logo-wrapper {
  max-width: 350px;
  margin: auto;
  margin-top: 35px;

  img {
    width: 100%;
  }
}
