// COLORS
$brand-yellow: #ffca00;


// General styles

body {
  background-color: $brand-yellow;
  font-family: sans-serif;
  width: 80%;

  .content-wrapper {
    margin: 35px;
  }
}

h1 {
  font-family: 'Play', sans-serif;
}

.logo-wrapper {
  max-width: 350px;
  margin: auto;
  margin-top: 35px;

  img {
    width: 100%;
  }
}
