// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.locations-wrapper {
  margin: auto;

  h1 {
    text-align: center;
  }

  .input-wrapper {
    text-align: center;

    .address-input {
      border: $border-width solid $brand-black;
      height: 3em;
      width: 375px;
      max-width: 95%;
      margin-bottom: 18px;
    }

    .submit-button {
      background-color: $brand-red;
      border: $border-width solid $brand-black;
      height: 4em;
      width: 4em;
      vertical-align: bottom;
      margin-bottom: 18px;
    }

    img {
      position: relative;
      right: 38px;
      top: 8px;
    }
  }

  ul {
    list-style: none;

    .location {
      margin: 5px;
      margin-top: 20px;

      a {
        font-size: 1.25em;
      }
    }
  }
}

.form-couple {
  margin: 10px;
  height: 24px;

  label {
    width: 39%;
    float: left;
  }

  input {
    width: 59%;
    height: 16px;
    float: right;

    &:focus{
      border: 2px solid $brand-black;
    }
  }
}

.form-submit {
  margin-top: 10px;
  width: 100%;

  input {
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid $brand-black;
    border-radius: 2px;
  }
}