<div class="locations-wrapper">
  <h1>Who profits from ICE near you?</h1>
  <ul>
    <% @locations.each do |location| %>
      <li><%= link_to(location.name, locations_show_path(id: location.id)) %></li>
    <% end %>
  </ul>
</div>