<div class="locations-wrapper">
  <form class="input-wrapper">
    <input class="address-input" type="text" name="address">
    <input class="submit-button" type="submit" value="" alt="submit search">
      <%= image_tag("24px.svg", alt: "search icon") %>
    </input>
  </form>

  <ul>
    <% @locations.each do |location| %>
      <li class="location">
        <%= link_to(location.pretty_reference, locations_show_path(id: location.id)) %>
      </li>
    <% end %>
  </ul>
</div>