<a href="/">
  <div class="logo-wrapper">
    <%= image_tag("PullThePlugICE.png", alt: "no tech for ICE logo featuring power fist pulling a plug out of both the socket and its machine") %>
    <h1>Who profits from ICE near you?</h1>
  </div>
</a>
<div class="link-box">
  <a href="/notechforice">
    <h2>Why No Tech For ICE</h2>
  </a>
  <a href="/locations/new">
    <h2>Report a Collaborator</h2>
  </a>
</div>